{% extends "_layouts/base" %}

{% block content %}

	<div class="content">

		<div class="content__secondary">



		</div>

		<div class="content__primary copy">

			<h1>What I offer</h1>

			<p class="lede">Etiam lacus sem, vestibulum quis consequat at, hendrerit non metus. Integer viverra, felis sit amet bibendum dictum, nunc justo sodales dolor, id posuere velit massa quis mauris. Pellentesque sapien velit, bibendum vel feugiat sit amet, feugiat eu urna.</p>

		</div>



	</div>

{% endblock %}