.sidebar {
	// padding: 0 15px;

	.breakpoint-large-and-above & {
		float: left;
		width: 285px;
		padding: 0 30px;
		padding-top: 150px;
	}


	p {
		color: #999;
	}

	label {
		color: #999;
	}
}


.sidebar__block {
	padding-bottom: 15px;

	.breakpoint-large-and-above & {
		padding: 20px 30px;
		padding-top: 0;

		margin: 0 -30px;
	}
}

.sidebar__block__hx {
	margin-bottom: 15px;
	
	color: #e9e9e9;
}


.sidebar__block--divided {
	padding-top: 15px;

	border-top: 1px dotted #444;

	.breakpoint-large-and-above & {
		padding-top: 20px;
	}
}