{% extends "_layouts/base" %}

{% block content %}
    
    <ul class="tabs page-tabs">
        <li class="tabs__item is-active">
            <a class="tabs__link" data-tab="updates" href="#">Updates</a>
        </li>
        <li class="tabs__item">
            <a class="tabs__link" data-tab="about" href="#">About</a>
        </li>
    </ul>

    <div class="sidebar tab-content" data-tab-content="about">

        <div class="sidebar__block copy copy-intro">

            {{ about.introduction|markdown }}

        </div>

        <div class="sidebar__block sidebar__block--divided">

            <h3 class="sidebar__block__hx">Keep in touch</h3>

            <ul class="m-list m-list--inline">
                {% if about.emailAddress %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__mail" href="mailto: {{ about.emailAddress }}"><span>Email</span></a>
                </li>
                {% endif %}
                {% if socialMedia.facebookUrl %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__facebook" href="{{ socialMedia.facebookUrl }}"><span>Facebook</span></a>
                </li>
                {% endif %}
                {% if socialMedia.twitterHandle %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__twitter" href="http://twitter.com/{{ socialMedia.twitterHandle }}"><span>Twitter</span></a>
                </li>
                {% endif %}
                {% if socialMedia.pinterestUrl %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__pinterest" href="{{ socialMedia.pinterestUrl }}"><span>Pinterest</span></a>
                </li>
                {% endif %}
                {% if socialMedia.gplusUrl %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__gplus" href="{{ socialMedia.gplusUrl }}"><span>YouTube</span></a>
                </li>
                {% endif %}
                {% if socialMedia.youtubeUrl %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__youtube" href="{{ socialMedia.youtubeUrl }}"><span>G+</span></a>
                </li>
                {% endif %}
                {% if socialMedia.soundcloudUrl %}
                <li class="m-list__item">
                    <a class="icon i--large i--social i--social__soundcloud" href="{{ socialMedia.soundcloudUrl }}"><span>G+</span></a>
                </li>
                {% endif %}
            </ul>

        </div>

        <div class="sidebar__block sidebar__block--divided">

            <h3 class="sidebar__block__hx">Newsletter</h3>

            <form class="newsletter-form" action="http://supertone.createsend.com/t/r/s/thitdir/" method="post">
                <fieldset class="copy">

                    <p>Signup for email updates from Supertone Records.</p>

                    <div>
                        <label for="newsletterName">Your name</label>
                        <input type="text" name="cm-name" id="newsletterName" value="" />
                    </div>

                    <div>
                        <label for="newsletterEmail">Your email</label>
                        <input type="text" name="cm-thitdir-thitdir" id="newsletterEmail" value="" required />
                    </div>

                    <button class="btn" type="submit">Subscribe</button>

                </fieldset>
            </form>

        </div>

    </div>

    <div class="page__body content tab-content is-active js-tiles" data-tab-content="updates">

        {% for newsEntry in craft.entries.section('news').limit(20) %}

            <div class="m-box m-box--{{ newsEntry.tileSize }}">

                <div class="m-tile">
                    
                    {% set mainImage = newsEntry.image.first() %}

                    {% if mainImage %}
                        <div class="m-tile__media m-media">

                            {% if newsEntry.primaryUrl %}
                                <a href="{{ newsEntry.primaryUrl }}">
                            {% endif %}

                            {% if newsEntry.tileSize == "small" %}
                                <img class="m-media__object" src="{{ mainImage.getUrl('small') }}" width="{{ mainImage.getWidth('small') }}" height="{{ mainImage.getHeight('small') }}" alt="" />
                            {% else %}
                                <img class="m-media__object" src="{{ mainImage.getUrl('medium') }}" width="{{ mainImage.getWidth('medium') }}" height="{{ mainImage.getHeight('medium') }}" alt="" />
                            {% endif %}
                            {% if newsEntry.hasMedia %}
                                <div class="m-media__play"></div>
                            {% endif %}

                            {% if newsEntry.primaryUrl %}
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}

                    <div class="m-tile__body m-post copy">

                        {% if newsEntry.hideTitle != true %}
                            <h2 class="m-post__title">
                            
                                {% if newsEntry.primaryUrl %}
                                    <a href="{{ newsEntry.primaryUrl }}">
                                {% endif %}

                                    {{ newsEntry.title }}

                                {% if newsEntry.primaryUrl %}
                                    </a>
                                {% endif %}

                            </h2>
                        {% endif %}
                        
                        {{ newsEntry.introduction|markdown }}

                        {% if newsEntry.secondaryTitle and newsEntry.secondaryUrl %}
                            <p class="m-post__action"><a href="{{ newsEntry.secondaryUrl }}">{{ newsEntry.secondaryTitle }}</a></p>
                        {% endif %}

                    </div>

                </div>

            </div>
        
        {% endfor %}

    </div> <!-- end .content -->

{% endblock %}