$font-base-size: 16;
$font-default: arial;
$font-sans-fallback-stack: sans-serif;

$fonts: (
    arial: (
    	normal: ('Arial', #{$font-sans-fallback-stack}),

    	x-small: (
    		font-size: 12,
    		line-height: 12
    	),
    	small: (
    		font-size: 14,
    		line-height: 18
    	),
        base: (
            font-size: 16,
            line-height: 20
        ),
        mid: (
        	font-size: 20,
        	line-height: 20
        ),
        large: (
            font-size: 24,
            line-height: 30
        ),
        x-large: (
        	font-size: 33,
        	line-height: 40
        )
    )
);