html {
	font-size: 87.5%;
}

body {
	background: #000;

	@include media($desk-and-up) {
		background: #222 url("/static/images/bg-body.gif") repeat-y;
	}
}

.branding {


	@include media($desk-and-up) {
		padding-right: 30px;
	}

	img {
		display: block;
		margin: 0 auto;
	}
}

.canvas {
	padding: 15px;

	@include media($lap-and-up) {
		padding: 20px;
	}

	@include media($desk-and-up) {
		padding: 0;
	}
}

.header {
	margin: 0 0 20px 0;

	@include media($lap-and-up) {
		margin: 0 0 30px 0;
		padding: 0 20px;
	}

	@include media($desk-and-up) {
		position: absolute;
		top: 30px;
		left: 30px;
		width: 255px;
		padding: 0;
		margin: 0 0 20px 0;
	}
}

.info {
	// padding: 0 15px;

	@include media($desk-and-up) {
		float: left;
		width: 285px;
		padding: 0 30px;
		padding-top: 150px;
	}


	p {
		color: #999;
	}

	
}

.page {
	max-width: 320px;
	margin: 0 auto;

	@include media($lap-and-up) {
		max-width: 540px;
	}

	@include media($desk-and-up) {
		max-width: 100%;
	}
}

.main {

	@include media($desk-and-up) {
		margin-left: 315px;
		padding-top: 30px;
	}
}

.box {
	margin: 0 0 15px 0;

	@include media($lap-and-up) {
		float: left;
		margin: 0 0 30px 0;
	}
}

.box--small {

	@include media($lap-and-up) {
		width: 255px;
	}
}

.box--medium {

	@include media($lap-and-up) {
		width: 540px;
	}
}

.block {
	background: #000;
	padding: 20px;
	border-radius: 4px;
	margin-bottom: 30px;

	p {
		color: #999;
		line-height: 1.5;
	}
}


.post {
	background: #fff;
	border-radius: 4px;
}

.post__media {
	border-radius: 4px 4px 0 0;

	img {
		border-radius: 4px 4px 0 0;
	}
}

.post__body {
	padding: 20px;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.body {
	a {
		color: #CE0013;
	}
}

.body__title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
}

.copy {

	p {
		line-height: 1.4;
		margin-bottom: 10px;
	}
}

.media {
	position: relative;
}

.media__play {
	background: #CE0013;
	background: rgba(#CE0013, .8);
	width: 46px;
	height: 46px;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -23px;
	margin-top: -23px;
	cursor: pointer;

	&:after {
		position: absolute;
		content: " ";
		top: 46px;
		left: 19px;
		height: 0;
		width: 0;
		border: solid transparent;
		border-left-color: white;
		border-width: 7px;
		border-left-width: 12px;
		margin-top: -30px;
	}
}

// .page {
// 	@include outer-container();

// 	margin: 100px auto;

// 	background: #fff;
// 	padding: 100px;
// }

// .page__header {
// 	border-bottom: 1px solid #e9e9e9;
// 	padding-bottom: 50px;
// }

// .page__body {
// 	@include row();

// 	padding: 60px 0;
// }

// .page__footer {
// 	margin: 0 -100px -100px;
// 	padding: 60px 100px;
// 	background: #f4f4f4;

// 	border-top: 1px solid #e9e9e9;
// }


// .branding {
// 	font-family: "JustGottaSmile";
// 	font-size: 38px;
// }


// .header {
// 	@include row();
// }

// .header__branding {

// 	@include media($desk-and-up) {
// 		@include span-columns(4);
// 	}
	
// }

// .header__navigation {
// 	@include media($desk-and-up) {
// 		@include span-columns(8);
// 	}
// }

// .navigation {
// 	ul {
// 		float: right;
// 		width: 100%;

// 		li {

// 			a {
// 				display: block;
// 				float: right;
// 				margin-left: 30px;
// 				line-height: 34px;
// 				color: #999;
// 			}
// 		}
// 	}
// }


// .content {


// 	@include media($desk-and-up) {
// 		@include span-columns(9);
// 	}
// }

// .content__primary {

// 	@include media($desk-and-up) {
// 		@include span-columns(7 of 9);
// 	}
// }

// .content__secondary {
// 	@include media($desk-and-up) {
// 		@include span-columns(2 of 9);
// 	}
// }


// .copy {

// 	h1 {
// 		font-weight: bold;
// 		font-size: 24px;
// 		margin-bottom: 30px;
// 	}

// 	p {
// 		margin-bottom: 18px;
// 		line-height: 1.5;
// 	}

// 	.lede {
// 		font-size: 130%;
// 	}
// }


// .menu {
// 	ul {
// 		li {
// 			display: block;
// 			margin-bottom: 15px;

// 			&.is-current {
// 				a {
// 					color: #111;
// 				}
// 			}

// 			a {
// 				display: block;

// 				color: #C76229;
// 			}
// 		}
// 	}
// }


// .slide {
// 	padding: 30px 0;

// 	@include media($desk-and-up) {
// 		@include span-columns(8);
// 		@include shift(2);
// 	}

// 	.slide__content {
// 		font-family: "JustGottaSmile";
// 		font-size: 54px;
// 		text-align: center;
// 	}

// 	.slide__action {
// 		padding-top: 40px;
// 		text-align: center;
// 	}
// }

// .footer {
// 	@include row();

// 	font-size: 90%;
// 	color: #666;

// 	p {
// 		margin: 0;
// 	}

// 	h4 {
// 		font-weight: bold;
// 		margin-bottom: 5px;
// 	}
// }

// .footer__about {
// 	@include media($desk-and-up) {
// 		@include span-columns(4);
// 	}
// }

// .footer__address {
// 	@include media($desk-and-up) {
// 		@include span-columns(2);
// 		@include shift(1);
// 	}
// }

// .footer__contact {
// 	@include media($desk-and-up) {
// 		@include span-columns(2);
		
// 	}
// }



// .post {


// 	@include media($desk-and-up) {
// 		@include span-columns(9);
// 	}
// }

// .post__title {
// 	@include media($desk-and-up) {
// 		@include span-columns(7 of 9);
// 		@include shift(2)
// 	}
// }

// .post__body {

// 	@include media($desk-and-up) {
// 		@include span-columns(7 of 9);
// 	}
// }

// .post__meta {
// 	color: #999;
// 	font-size: 90%;
// 	padding-top: 10px;

// 	@include media($desk-and-up) {
// 		@include span-columns(2 of 9);
// 	}
// }

// .ui-list {

// }

// .ui-list__item {
// 	@include row();
// 	padding-bottom: 30px;
// 	margin-bottom: 40px;
// 	border-bottom: 1px dotted #e9e9e9;

// 	&:last-of-type {
// 		padding-bottom: 0;
// 		margin-bottom: 0;
// 		border-bottom: none;
// 	}
// }