%button {
  	@include button(simple, $red);
  	-webkit-font-smoothing: antialiased;
  	// font-size: $base-font-size;
  	font-weight: bold;
  	line-height: 1em;
}

button,
input[type="submit"] {
    @extend %button;
    @include appearance(none);
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

// .btn {
// 	display: inline-block;
// 	vertical-align: middle;
// 	white-space: nowrap;
// 	font-family: inherit;
// 	font-size: 85%;
// 	cursor: pointer;
// 	border: none;
// 	border-bottom: 2px solid darken(#C76229, 5);
// 	margin: 0;
// 	background-color: #C76229;
// 	color: #fff;
// 	border-radius: 4px;
// 	overflow: visible;
// 	text-decoration: none;
// 	text-transform: uppercase;

// 	line-height: 3;
// 	height: 3em;
// 	padding: 0 1.5em;

// 	&:hover, &:active, &:focus, &:visited {
// 		text-decoration: none;
// 	}

// 	&:hover {
// 		background: darken(#C76229, 5);
// 	}

// 	&:active, &:focus {
// 		outline:none;
// 		background: darken(#C76229, 5);
// 	}

// 	&::-moz-focus-inner {
// 		border: 0;
// 		padding: 0;
// 	}
// }