// *************************************
//
//   List
//
// *************************************


// -------------------------------------
//   Base
// -------------------------------------

.m-list {

}


// -------------------------------------
//   Elements
// -------------------------------------

// ----- Item ----- //

.m-list__item {

}


// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Inline----- //

.m-list--inline {

	.m-list__item {
		display: inline-block;
		margin-right: rem-calc(10);

		&:last-of-type {
			margin-right: 0;
		}
	}
}